.btns {
    display: flex;
    // margin-top: 20%;
}

#description {
    margin-top: 35px;
}

.tableSet {
    margin-top: 2%;
}

#shareBtn {
    float: right;
    margin-top: 1%;
}

.checkShareBtn {
    color: #fff !important;
    background: #008827;
    padding: 10px 25px;
    border: 1px solid #008827;
    border-radius: 5px;
}

#shareIcon {
    padding-right: 10px;
}

.btn1 {
    margin: 3%;
    margin-left: 26% !important;
}

.btn2 {
    margin: 3%;
    margin-left: 8% !important;
}

text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    pointer-events: none;
    color: white;
}

#chart {
    position: relative;
    // width: 500px;
    // height: 500px;
    top: 15px;
    left: 45px;
}

#question {
    top: 0;
}

#question h1 {
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 55%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
}

.checkAddtoCart {
    color: #fff !important;
    background: #868ce0;
    padding: 4px;
    border: 1px solid #868ce0;
}

.checkShare {
    color: #fff !important;
    background: #008827;
    padding: 4px 21px;
    border: 1px solid #008827;
}

table tbody {
    text-align: center;
}

table thead {
    text-align: center;
}

a {
    cursor: pointer;
    margin: 10px;
}

.productImg {
    margin-left: 25%;
    margin-top: 10%;
}

#wheelImages {
    width: 10%;
    height: 10%;
}
